/* Tablets */
@media screen and (max-width: 992px) {
    .navbarItems ul {
        margin-bottom: 16px !important;
    }

    #hero-heading {
        font-size: 4rem;
    }

    #about-content {
        flex-direction: column;
        align-items: start;
    }

    #about-image img {
        width: 100%;
        height: auto;
    }

    #edu-grid {
        grid-template-columns: 1fr 1fr;
    }

    #skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #contact-text {
        width: 100%;
    }

    #contact-cards > div {
        display: flex;
        gap: 16px;
    }

    .contact-crad {
        margin: 0 !important;
    }
}

/* Mobile Landscape */
@media screen and (max-width: 768px) {
    #hero-heading {
        font-size: 3.5rem;
    }

    #edu-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "fakultet"
            "srednja"
            "osnovna"
            "cysecor"
            "bymarkozi";
    }

    #skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    #contact-cards > div {
        display: inline-block;
    }

    .contact-crad {
        margin-top: 16px !important;
    }

    #footer-wrapper {
        flex-direction: column;
        gap: 32px;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    #hero-heading {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #skills-grid {
        grid-template-columns: 1fr;
    }

    #contact-cards {
        display: flex;
        flex-direction: column;
    }

    #contact-cards > div {
        display: flex;
        flex-direction: column;
    }

    .contact-crad {
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #contactButton {
        width: 100%;
    }

    #footer-links ul {
        flex-direction: column;
        text-align: center;
    }
}